* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
}

header {
  width: 100%;
  text-align: center;
  position: relative;
  text-decoration: underline turquoise;
}

main {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.enterTheMealDetails, .allCalculations {
  width:49%;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
.myEarningsInfo, .customerCharges, .enterTheMealDetails {
  border: 2px solid black;
}

.customerCharges, .myEarningsInfo {
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
  text-align: right;
  padding: 3px;
}

.myEarningsInfoSection {
  text-align: center;
  width: 75%;
}

.horizontalLine {
  border-bottom: 3px solid grey;
  margin-bottom: 3px;
  margin-top: 3px;
}

.resetAllButton {
  position: absolute;
  top: 105%;
  left: 83%;
  width: 16%;
  margin:0px;
}

button {
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 5px 8px grey;
  background-color: transparent;
}

button:hover {
  background-color: turquoise;
  border: turquoise
}

h2 {
  height: 35px;
  width: 100%;
  text-align:center;
  border-bottom: 2px solid black;
  font-size: 12px;
  margin:0;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2:hover {
  background-color: turquoise;
}

#baseMealPrice {
  width: 40%;
}

#taxRate, #tipPercentage {
  width: 20%;
}


fieldset{
  text-align: left;
  width: 100%;
  border:none;
  padding: 10px;

}


span {
  margin: 10px;
}

hr {
  width: 60%;
  border: 2px solid grey;
}

.submitButton {
  position: relative;
  bottom: -230px;
  left: -30px;
} 
.resetCalcButton {
  position: relative;
  bottom: -180px;
  left: 26px;
  
  
}

@media screen and (min-width: 450px){
  .updateMealCount {
    margin-left: 35px;
  }

h2 {
  font-size: 16px;
}

.enterTheMealDetails, .allCalculations {
  font-size: 14px;
}

.submitButton  {
  margin-right: 10px;
}
}

@media screen and (min-width: 700px){
  h2 {
    font-size: 24px;
  }
  .enterTheMealDetails, .allCalculations {
    font-size: 20px;
  }

  .submitButton  {
    margin-right: 20px;
  }
}