* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
}

header {
  width: 100%;
  text-align: center;
  position: relative;
  text-decoration: underline turquoise;
}

main {
  font-size: 13px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.container {
  width:49%;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div {
  border: 2px solid black;
}
.big {
  width: 49%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small {
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column;
}

.resetAllButton {
  position: absolute;
  top: 105%;
  left: 83%;
  width: 16%;
  margin:0px;
}

button {
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 5px 8px grey;
  background-color: transparent;
}

button:hover {
  background-color: turquoise;
  border: turquoise
}

h2 {
  margin-top: 0px;
  width: 100%;
  text-align:center;
  border-bottom: 2px solid black;
  font-size: 15px;
  padding: 5px;
}

h2:hover {
  background-color: turquoise;
}

#baseMealPrice {
  width: 40%;
}

#taxRate, #tipPercentage {
  width: 20%;
}


fieldset{
  text-align: left;
  width: 100%;
  border:none;
  padding: 10px;
  position: relative;
  top: 100%;
  left: 4%
}

section {
  margin-top: 20px;
  text-align: right;
  align-self: center;
  padding: 3px;
}

.myEarningsInfoSection{
  text-align: left;
}
span {
  margin: 10px;
}

hr {
  width: 60%;
  border: 2px solid grey;
}

.submitButton {
  position: relative;
  bottom: -230px;
  left: -30px;
} 
.resetCalcButton {
  position: relative;
  bottom: -180px;
  left: 26px;
  
  
}

@media screen and (min-width: 450px){
  .updateMealCount {
    margin-left: 35px;
  }
    .myEarningsInfoSection{
      text-align: right;
}
h2 {
  font-size: 20px;
}
main {
  font-size: 16px;
}
.submitButton  {
  margin-right: 10px;
}
}

@media screen and (min-width: 700px){
  main {
    font-size: 20px;
  }

  .submitButton  {
    margin-right: 20px;
  }
}